html{
	background-color: #BBDBF7;
}

#banner {
  margin: 50px 300px;
  height: 200px;
  width: 1200px;
  background-color: #FDD8B5;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5), 0 7px 4px 0 rgba(0,0,0,0.5);
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 30px;
}

#banner h1 {
  margin: auto;
  text-align: left;
  color: #000;
  font-family: "Bookman Old Style";
  font-size: 148px;
  font-weight: 700;
}

#description {
  margin: auto;
  text-align: left;
  height: 300px;
  width: 1200px;
  color: #000;
  font-family: "Bodoni MT";
  font-size: 30px;
  line-height: 36px;
}

#inputDescription{
  margin-left: 20%;
  font-size: 25px;
}

#inputText {
  margin-left: 20%;
  border: none;
  height: 30px;
  width: 600px;

}

#submit{
  margin:-70px;
  background-color: #bdbdbd;
  border: none;
  color: black;
  text-align: center;
}


#nameBox{
  height: 84px;
  width: 1280px;
  background-color: #FDD8B5;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);
}